@import url(https://db.onlinewebfonts.com/c/b6e1e126bc19c3e9fe26136203746a13?family=Kefa-Regular);
@font-face {
  font-family: "Kefa PressS";
  src: url("https://db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.eot");
  src:
    url("https://db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.svg#Kefa-Regular")
      format("svg");
}
.kefa {
  font-family: "Kefa PressS";
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.loader {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: #f0f1ed;
  z-index: 999;
  transition: opacity 0.4s ease;
}

.loader.hide {
  opacity: 0;
  pointer-events: none;
}

.app {
  transform: scale(1.15);
  opacity: 0;
  filter: blur(4px);
  transition: 0.6s ease;
}

.app.ready {
  transform: scale(1);
  opacity: 1;
  filter: blur(0);
}
